/* 首页 */
.page-mpmt .cummu {color: #3c3b41; border-bottom: 1px solid #d3d2d7;background: #e6e5ea; line-height: .7rem; text-align: center;}

.page-mpmt .search {padding: .11rem .18rem; font-size: 14px;}
.page-mpmt .search input {color: #777; border: none; outline: none; background: none;}
.page-mpmt .search form {display: flex; display: -webkit-flex;}
.page-mpmt .search form > * {-webkit-flex: 1; flex: 1;}
.page-mpmt .search .input-wrap,
.page-mpmt .search .submit {overflow: hidden; height: .65rem; border: 1px solid #d8d7dc; border-radius: 4px; background: #fff; line-height: .65rem;}
.page-mpmt .search .input-wrap {display: flex; display: -webkit-flex;}
.page-mpmt .search .input {flex: 1; -webkit-flex: 1;}
.page-mpmt .search .icon-search {display: block; width: .68rem; color: #9c9aa5; font-size: .35rem; text-align: center;}
.page-mpmt .search .submit {max-width: 1rem; margin-left: .08rem;}

.page-mpmt .mpmt-item {display: -webkit-flex; display: flex; padding: 15px; color: #333;background: #fff; line-height: 1.5;}
.page-mpmt .mpmt-item + .mpmt-item {margin-top: 10px;}
.page-mpmt .mpmt-item .count {position: relative; width: 70px; height: 70px; margin-left: 15px; color: #fff; background: #39d496; font-size: 14px; text-align: center;}
.page-mpmt .mpmt-item .count .wrap {position: absolute; top: 50%; left: 50%; width: 100%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.page-mpmt .mpmt-item .main {flex: 1; -webkit-flex: 1;}
.page-mpmt .mpmt-item .name {margin-bottom: 5px;}
.page-mpmt .mpmt-item .main p {position: relative; padding-left: 20px;}
.page-mpmt .mpmt-item .main i {position: absolute; left: 0;}
.page-mpmt .mpmt-item p {color: #8b8a93; font-size: .85em;}
.page-mpmt .mpmt-item .ico-sec {font-weight: 600;}
.page-mpmt .mpmt-item .icon-clock {color: #fb8c71;}
.page-mpmt .mpmt-item .icon-position {color: #49d5a4;}



/* 详情页 */
.page-mpmt .mpmt-detail {padding-bottom: .75rem;}
.page-mpmt .mpmt-detail .hd {padding-bottom: .18rem; color: #767676; background: #fff; font-size: 14px;}
.page-mpmt .mpmt-detail .thumb {display: block; width: 100%; height: 2.05rem;}
.page-mpmt .mpmt-detail .title {margin: 0 .24rem .19rem; padding-top: .28rem; color: #3a393f; font-size: 16px;}
.page-mpmt .mpmt-detail .time {float: left; margin-left: .2rem;}
.page-mpmt .mpmt-detail .num {float: right; margin-right: .2rem;}
.page-mpmt .mpmt-detail .info {margin: .2rem 0; padding-left: .28rem; color: #3a393e;background: #fff; font-size: 16px; line-height: .7rem;}

.page-mpmt .info-list {padding: 0 .27rem; color: #313035; background: #fff; font-size: 14px;}
.page-mpmt .info-list .item {display: flex; display: -webkit-flex; padding: .22rem 0; border-bottom: 1px solid #d9d9d9; -webkit-align-items: center; align-items: center;}
.page-mpmt .info-list .item:last-child {border-bottom: none;}
.page-mpmt .info-list .left {width: 1.5rem;}
.page-mpmt .info-list .right {color: #949494;text-align: right; -webkit-flex: 1; flex: 1;}
.page-mpmt .info-list .highlight {color: #fc7b5c;}

.page-mpmt .btn-wrap {position: fixed; bottom: .05rem; left: 0; width: 100%; padding: 0 .1rem;}
.page-mpmt .btn-wrap .btn {display: block; width: 100%; color: #fff; border-radius: 3px; line-height: .62rem; text-align: center;}
.page-mpmt .btn-wrap .btn.start {background: #fb7d5a;}
.page-mpmt .btn-wrap .btn.joined {background: #39d496; pointer-events: none;}
.page-mpmt .btn-wrap .btn.end {background: #645f5e; pointer-events: none;}
