/* 列表页 */
.page-question .cummu {line-height: .7rem; background: #e6e5ea; color: #3c3b41; text-align: center; border-bottom: 1px solid #d3d2d7;}

.page-question .search {padding: .11rem .18rem; font-size: 14px;}
.page-question .search input {color: #777;border: none; outline: none; background: none;}
.page-question .search form {display: flex; display: -webkit-flex;}
.page-question .search form > * {-webkit-flex: 1; flex: 1;}
.page-question .search .input-wrap,
.page-question .search .submit {overflow: hidden; height: .65rem; border: 1px solid #d8d7dc; border-radius: 4px; background: #fff; line-height: .65rem;}
.page-question .search .input-wrap {display: flex; display: -webkit-flex;}
.page-question .search .input {flex: 1; -webkit-flex: 1;}
.page-question .search .icon-search {display: block; width: .68rem; color: #9c9aa5;font-size: .35rem; text-align: center;}
.page-question .search .submit {max-width: 1rem; margin-left: .08rem;}

.page-question .question-list {}
.page-question .question-list .item {padding: .2rem; background: #fff; color: #333; margin-bottom: .15rem;}
.page-question .question-list .item:last-child {margin-bottom: 0;}
.page-question .question-list a {color: inherit;} 
.page-question .question-list .top, 
.page-question .question-list .bottom {display: flex; display: -webkit-flex;}
.page-question .question-list .thumb {width: 2rem; height: 1.2rem; margin-right: .25rem;}
.page-question .question-list .wrap {flex: 1; -webkit-flex: 1;}
.page-question .question-list .title {font-style: 16px; height: 41px; line-height: 1.4; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
.page-question .question-list .time {font-size: 14px; color: #7c7c7c; padding-top: .15rem;}
.page-question .question-list .bottom {margin-top: .22rem; font-size: 14px;}
.page-question .question-list .status {-webkit-flex: 1; flex: 1; text-align: right; color: #6ddbac;}
.page-question .btn-wrap {position: fixed; bottom: .05rem; left: 0; width: 100%; padding: 0 .1rem;}
.page-question .btn-wrap .btn {display: block; width: 100%; color: #fff; border-radius: 3px; line-height: .62rem; text-align: center; background: #fb7d5a;}


/* 详情页 */
.page-question .bgfff {background: #fff;}
.page-question .complate-detail {font-size: 14px; background: #e8e8e8;}
.page-question .complate-detail .hd .thumb {display: block; width: 100%; height: .2.77rem;}
.page-question .complate-detail .title {position: relative; padding: .22rem 1.4rem .22rem .22rem; background: #39d397; color: #fff; font-size: 14px;}
.page-question .complate-detail .num {position: absolute; right: .22rem; top: .22rem;}
.page-question .complate-detail .info {padding: .22rem; background: #fff;}
.page-question .complate-detail .status {float: right;}
.page-question .complate-detail .bd {margin-top: .2rem; background: #fff;}
.page-question .complate-detail .user {display: flex; display: -webkit-flex; padding: .35rem .3rem; color: #6b6b6b; -webkit-align-items: center; align-items: center;}
.page-question .complate-detail .avatar {height: .75rem; width: .75rem; border-radius: 50%; margin-right: .34rem;}
.page-question .complate-detail .name {margin-bottom: .15rem;}
.page-question .complate-detail .ctn {padding: 0 .38rem .75rem	.38rem; color: #474747; text-align: justify; line-height: 1.8; letter-spacing: 1px;}
.page-question .complate-detail .ctn p {margin-bottom: .15rem;}


/* 新建问题 */
.create-question body {line-height: 1.5;}
.create-question .content {width: 100%; min-height: 100%; background-color: #eaeaea;}
.create-question .head {padding: 10px; color: #979799; background-color: #efeff4; font-size: 14px; text-align: center;}
.create-question .type {position: relative; display: block; padding: 15px; background-color: #fff;}
.create-question .type p:first-child {color: #50d2c2;}
.create-question .type p:last-child {position: absolute; top: 17px; right: 15px; display: inline-block; height: 20px; color: #808080;font-size: 14px; line-height: 20px; }
.create-question .type p:last-child img {float: right; width: 9px; height: 16px; margin-top: 2px;margin-left: 8px; }
.create-question .title {position: relative; margin-top: 10px; padding: 15px; background-color: #fff;}
.create-question .title_input span {position: absolute; top: 15px; color: #8f8f8f;font-size: 15px; }
.create-question .title_input input {display: block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 22px; padding-left: 50px; color: #a8a8a8;border: none; font-size: 14px; }
.create-question .tip1 {margin-top: 8px; color: #a8a8a8;font-size: 13px; }
.create-question .discribe {margin-top: 10px; padding: 15px; background-color: #fff;}
.create-question .discribe textarea {display: block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 150px; padding: 10px; color: #a8a8a8;border: 1px solid #e6e5e5; font-size: 14px; }
.create-question #description::-webkit-input-placeholder::after {display: block; content: '对问题的详细说明，比如详细地址、问题发生了多久等';}
.create-question .imgs {margin-top: 10px;}
.create-question .one_img,
.create-question .add_img {position: relative; display: inline-block; float: left; margin: 0 10px 10px 0;}
.create-question .one_img > img:first-child,
.create-question .add_img > img:first-child {display: block; width: 70px; height: 70px;}
.create-question .del_img {position: absolute; top: 0; right: 0; display: inline-block; overflow: hidden;width: 25px; height: 25px; }
.create-question .del_img img {width: 25px; height: 25px;}
.create-question .tip2 {clear: both; color: #a8a8a8;font-size: 13px; }
.create-question .tip2 span {float: right;}
.create-question .person_info {margin-top: 10px; background-color: #fff;}
.create-question .item {position: relative; padding: 15px; border-bottom: 1px solid #eaeaea;}
.create-question .item button {border: none;}
.create-question .item input {float: right; width: 60%; margin-right: 30px; padding: 4px 0; color: #808080; border: none; background-color: transparent;font-size: 14px; line-height: 16px; text-align: right; }
.create-question .item input::-webkit-input-placeholder {color: #808080;}
.create-question .item img,
.create-question .anonymous i {position: absolute; top: 17px; right: 15px;width: 20px; }
.create-question .anonymous i {display: inline-block; width: 20px; height: 20px; border: 1px solid #d9d9d9;}
.create-question .anonymous .choose {border: none; background-color: #50d2c2; background-image: url(../../public/images/pSort_detail/icon01.png); background-repeat: no-repeat;background-size: 20px 20px; }
.create-question .tip3 {padding: 5px 0 10px 0; color: #979799;background-color: #eaeaea; font-size: 13px; text-align: center; }
.create-question .submit {padding: 15px; background-color: #eaeaea;}
.create-question .submit input {width: 100%; height: 45px; color: #fff;border: none; background-color: #50d2c2; }
.create-question .warmtip {margin-bottom: 20px;padding: 15px; background-color: #fff; }
.create-question .warmtip p:first-child {color: #000;font-size: 16px; }
.create-question .warmtip p {color: #979799;font-size: 14px; line-height: 1.8em; }
.create-question .file-box {position: relative; display: inline-block; float: left;}
.create-question .file-box img {width: 70px; height: 70px;}
.create-question #file {position: absolute; top: 0; left: 0; width: 70px; height: 70px; opacity: 0;}
/* 问题类别 */
.question-type {position: fixed; z-index: 10; top: 0; left: 0; display: none; width: 100%; height: 100%; background: #fff;}
.question-type .msg {color: #7f7f7f; background: #e1e1e1; font-size: 14px;line-height: 40px; text-align: center;}
.question-type .cell {display: flex; display: -webkit-flex; padding: 15px 10px; border-bottom: 1px solid #d9d9d9;}
.question-type .thumb {width: 50px; height: 50px; margin-right: 10px;}
.question-type .intro {color: #949494;font-size: 12px;}
