.my-help body {
	background-color: #f0f0f3;
}
.my-help .block {
	padding: 0.28rem 0.22rem;
	background-color: #fff;
	margin-bottom: 0.2rem;
}
.my-help .service {
	color: #fd8362;
}
.my-help .ques {
	color: #3a3a40;
}
.my-help .answer {
	padding-left: 0.22rem;
	margin-top: 0.26rem;
	font-size: 14px;
	color: #949494;
}