.my-survey .questionlist .item:first-child {
	border-top: none;
}
.my-survey .item {
	padding: 0.15rem 0.2rem;
	background-color: #fff;
	margin-bottom: 0.2rem;
}
.my-survey .item h3 {
	margin: 0.1rem 0;
}
.my-survey .item .option {
	position: relative;
}
.my-survey .item .option input[type="radio"] {
	display: none;
}
.my-survey .item .option span {
	position: absolute;
	top: 0.15rem;
	left: 10px;
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: #f8f8f8;
	border: 1px solid #d1d1d1;
	border-radius: 10px;
}
.my-survey .item .option p {
	padding: 0.15rem 0;
	padding-left: 40px;
	font-size: 14px;
	line-height: 18px;
}
.my-survey .item .option:active {
	background: #f5f5f5;
}
.my-survey .item .option span.active {
	border: 1px solid #39d598;
	background-color: #fff;
}
.my-survey .item .option span.active:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 3px;
	left: 3px;
	width: 10px;
	height: 10px;
	background-color: #39d598;
	border-radius: 5px;
}
.my-survey .subbox {
	padding: 0.2rem;
}
.my-survey .subbox input {
	-webkit-appearance: none;
	width: 100%;
	height: 0.8rem;
	line-height: 0.8rem;
	background-color: #39d397;
	border: none;
	color: #fff;
}
.my-survey .option.submitted {
	pointer-events: none;
}
.my-survey .option.submitted p {
	color: #999;
}