.wish-all .shadow {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url('../../../public/images/wish-bg-2.png') no-repeat;
	background-size: 100% auto;
}
.wish-all #wrapper {
	position: relative;
	z-index: 2;
	padding: .15rem 0;
}
.wish-all .wish {
	padding: 0 0.2rem;
}
.wish-all .item {
	background-color: rgba(0,160,233,0.6);
	padding: 0.37rem 0.18rem 0.27rem 0.18rem;
	margin-top: 0.15rem;
	border-radius: 0.05rem;
	background-image: url('../../../public/images/lightstar.png');
	background-repeat: no-repeat;
	background-size: 1.3rem 1.3rem;
	background-position: -0.1rem -0.2rem;
}
.wish-all .item:first-child {
	margin-top: 0;
}
.wish-all .item.greybg {
	background-color: rgba(255, 255, 255, 0.3);
}
.wish-all .item p:nth-child(1) {
	padding-left: 0.8rem;
	color: #fff;
}
.wish-all .item p:nth-child(2) {
	margin-top: 0.28rem;
	text-align: right;
	color: #f5f5f5;
	font-size: 14px;
}
.wish-all .item p:nth-child(2) span,
.wish-all .total {
	padding: 0 5px;
	color: #fff000;
}
.wish-all .viewall {
	padding: 0.4rem 0.2rem 0.3rem 0.2rem;
}
.wish-all .viewall a {
	display: block;
	height: 0.8rem;
	line-height: 0.8rem;
	background-color: rgba(0,160,233,0.8);
	text-align: center;
	color: #fff;
	border-radius: 0.08rem;
}
/* mywish */
.wish-all .mywish-head {
	margin: 0.3rem 0;
	text-align: center;
	color: #fff;
}
/* success */
.wish-all .success-head {
	padding-top: 0.6rem;
	text-align: center;
	color: #fff;
}
.wish-all .success-head img {
	padding: 0.6rem 0;
	width: 1.2rem;
}
.wish-all .your {
	padding-bottom: 0.1rem;
}
